* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  outline: none;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
#root {
  height: 100%;
}
#root > .Container {
  overflow-y: auto;
  height: 100%;
  padding-bottom: 8px;
}

.Container {
  display: flex;
}

.ContainerColumn {
  flex-direction: column;
}

.ContainerRow {
  flex-direction: row;
}

.draggable {
  user-select: none;
  -webkit-app-region: drag;
  flex-grow: 1;
}

.Border {
  display: flex;
  background: black;
}

.Border svg {
  color: white;
}

.Border button:hover {
  opacity: 0.8;
}

.TopBar {
  display: flex;
  align-items: center;
  margin: 6px 0;
}

.TopBarPathInput {
  margin: 0 10px;
  font-size: 1em;
  flex: 1;
  padding: 4px;
}

.LeftMenu {
  flex-basis: 20%;
  flex-direction: column;
}
.RightMenu {
  flex-basis: 80%;
  flex-grow: 1;
  margin: 0 3px;
}

.File {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: default;
  transition: all 0.2s;
}

.FileIcon {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.File:hover {
  background: rgb(243, 243, 243);
  user-select: none;
}
button {
  height: 30px;
  width: 30px;
  background: none;
  border: none;
  transition: all 0.2s;
  padding: 0;
  margin: 0;
}

button:hover {
  background: rgb(243, 243, 243);
}
